<ng-container *ngIf="item && formData">
  <dx-drop-down-box [placeholder]="placeholder" valueExpr="id" displayExpr="text" [showClearButton]="true"
    (onValueChanged)="syncTreeViewSelection()" [dataSource]="item.editorOptions.dxTreeView.dataSource">
    <div *dxTemplate="let data of 'content'">
      <dx-tree-view [dataSource]="item.editorOptions.dxTreeView.dataSource" dataStructure="plain"
        [keyExpr]="item.editorOptions.dxTreeView.keyExpr" showCheckBoxesMode="normal"
        [parentIdExpr]="item.editorOptions.dxTreeView.parentIdExpr"
        [selectionMode]="item.editorOptions.dxTreeView.selectionMode"
        [displayExpr]="item.editorOptions.dxTreeView.displayExpr" [selectByClick]="true"
        (onContentReady)="syncTreeViewSelection($event)"
        (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
      </dx-tree-view>
    </div>
  </dx-drop-down-box>
</ng-container>