<div class="wrap">
    <!--顶部导航栏-->
    <div class='topBar'>
        <div class='container1'>
            <!--导航条-->
            <!-- <div class="topBar-nav">
                <ng-container *ngFor="let tag of productTags">
                    <a>{{tag.name}}</a>
                    <span class="sep">|</span>
                </ng-container>
                <a href='#'>MIUI</a>
                <span class="sep">|</span>
                <a href='#'>loT</a>
                <span class="sep">|</span>
                <a href='#'>云服务</a>
                <span class="sep">|</span>
                <a href='#'>金融</a>
                <span class="sep">|</span>
                <a href='#'>有品</a>
                <span class="sep">|</span>
                <a href='#'>小爱开放平台</a>
                <span class="sep">|</span>
                <a href='#'>政企服务</a>
                <span class="sep">|</span>
                <a href='#'>Select Region</a>
            </div> -->

            <!--购物车-->
            <div class='topBar-cart'>
                <a routerLink="/">
                    <span class="icon"></span>
                    <span class="shop-cart">首页</span>
                </a>
            </div>


            <!--用户信息-->
            <div class='topBar-message'>
                <ng-container *ngIf=" state==View.Guest">
                    <a routerLink="/login-form">登录</a>
                    <span class="sep">|</span>
                </ng-container>
                <ng-container *ngIf="state==View.Guest">
                    <a routerLink="/register">注册</a>
                    <span class="sep">|</span>
                </ng-container>

                <!-- <a href="#">消息通知</a> -->
            </div>
        </div>
    </div>

    <div class="header">
        <div class='container2'>
            <!--小米logo-->
            <div class="header-logo">
                <!-- <a href="#"> -->
                <!-- <img class='logo' src='/assets/images/logo.png' alt='小米图标'> -->
                <!-- </a> -->
            </div>

            <!--第二行 导航栏-->
            <div class="header-nav">
                <ul>
                    <li><a class="tagActive">我的订单</a></li>
                </ul>
            </div>

            <!--搜索框-->
            <!-- <div class="header-search"> -->
            <!-- <label for="search"></label> -->
            <!-- <input type="text" name="search" id="search" placeholder="搜索"> -->
            <!-- <span class="hot-words"> -->
            <!-- <input placeholder="搜索" /> -->
            <!-- </span> -->
            <!-- <input type="submit" value="搜索" id="submit"> -->
            <!-- </div> -->
        </div>
    </div>

    <div class='content'>

    </div>
    <div class="shop1">
        <div class='container4'>
            <!-- <div class='left'>闪购</div> -->
            <div class='right'>
                <!-- <a href='#'><img src='/assets/images/right.jpg' alt='左右图'></a> -->
            </div>
        </div>
    </div>
    <ws-view [view]="selectedDVO" *ngIf="selectedDVO"></ws-view>

    <div class='shop2'>
        <!--选购引导-->
        <div class='container5'>
        </div>
    </div>
</div>

<!--右侧固定导航栏-->
<div class="back-top">
    <ul id='right-ul'>
        <li>
            <div class='fixed-1'></div>
            <p>个人中心</p>
        </li>
        <li>
            <div class='fixed-2'></div>
            <p>联系客服</p>
        </li>
        <li>
            <div class='fixed-3'></div>
            <p>购物车</p>
        </li>
        <li>
            <div class='fixed-4'></div>
            <p>返回顶部</p>
        </li>
    </ul>
</div>

<!--底部内容-->
<div class='footer'>
    <div class='container6'>
        <!--小米logo-->
        <div class="footer-logo">
            <a href="#">
                <!-- <img class='logo' src='/assets/images/logo.png' alt='小米图标'> -->
            </a>
        </div>

        <!--第一行字-->
        <!-- <div class="footer-one">
            <a href='#'>小米手机</a>
            <span class="sep">|</span>
            <a href='#'>MIUI</a>
            <span class="sep">|</span>
            <a href='#'>米家</a>
            <span class="sep">|</span>
            <a href='#'>多看</a>
            <span class="sep">|</span>
            <a href='#'>游戏</a>
            <span class="sep">|</span>
            <a href='#'>路由器</a>
            <span class="sep">|</span>
            <a href='#'>米粉卡</a>
            <span class="sep">|</span>
            <a href='#'>政企服务</a>
            <span class="sep">|</span>
            <a href='#'>小米天猫店</a>
            <span class="sep">|</span>
            <a href='#'>隐私政策</a>
            <span class="sep">|</span>
            <a href='#'>问题反馈</a>
            <span class="sep">|</span>
            <a href='#'>廉政举报</a>
            <span class="sep">|</span>
            <a href='#'>Select Region</a>
        </div> -->

        <!--第二行字-->
        <div class="footer-two">
            <!-- <a href='#'>@mi.com</a> -->
            <!-- <a href='#'>京ICP证110507号 京ICP证110507号 京ICP证110507号 京ICP证110507号</a> -->
        </div>

        <!--第三行字-->
        <div class="footer-three">
            <!-- <a href='#'>违法和不良信息举报电话： </a> -->
            <!-- <a href='#'>185-0130-1238， </a> -->
            <!-- <a href='#'>本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</a> -->
        </div>

        <!--第4行图-->
        <div class="footer-photo">
            <ul>
                <!-- <li><a href='#'><img src='/assets/images/footer1.png' alt='广告1'></a></li> -->
                <!-- <li><a href='#'><img src='/assets/images/footer2.png' alt='广告2'></a></li> -->
                <!-- <li><a href='#'><img src='/assets/images/footer3.png' alt='广告3'></a></li> -->
                <!-- <li><a href='#'><img src='/assets/images/footer4.png' alt='广告4'></a></li> -->
                <!-- <li><a href='#'><img src='/assets/images/footer5.png' alt='广告5'></a></li> -->
            </ul>
        </div>


    </div>
    <!-- <p>探索黑科技，小米为发烧而生！</p> -->
</div>