<nz-card>
    <div style="display: flex;justify-content: space-between">
        <nz-form-item nzFlex>
            <nz-form-label>菜单名称</nz-form-label>
            <nz-form-control>
                <input nz-input placeholder="菜单名" [(ngModel)]="keyword" />
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" (click)="search()">查询</button>
    </div>
    <div style="margin-top:20px;margin-bottom:20px;">
        <button nz-button [nzType]="'primary'" (click)="state=View.Create">添加</button>
    </div>
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="menus">
        <thead>
            <tr>
                <th nzShowCheckbox nzShowRowSelection></th>
                <th>菜单名称</th>
                <th>地址</th>
                <th>权限代码</th>
                <th>级别</th>
                <th>加入时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td [nzChecked]="data.checked" nzShowCheckbox></td>
                <td [nzIndentSize]="data.level * 20">{{ data.text }}</td>
                <td>{{data.link}}</td>
                <td>{{data.code}}</td>
                <td>{{data.level}}</td>
                <td>{{ data.createTime }}</td>
                <td>

                    <i nz-icon nzType="plus" nzTheme="outline" (click)="selectedCompany=data;state=View.Create"></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzTitle="确认删除?" nzOkText="确定" nzCancelText="取消" (nzOnConfirm)="deleteMenu(data)">
                        <i nz-icon nzType="delete" nzTheme="outline"></i></a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>


<!--  -->
<ng-container>

    <nz-modal [(nzVisible)]="state==View.Create" nzTitle="添加" (nzOnOk)="createMenu()" (nzOnCancel)="state=View.List">
        <div nz-row [nzGutter]="24">
            <nz-form-item nzFlex [nzSpan]="23" nz-col>
                <nz-form-label>菜单名称</nz-form-label>
                <nz-form-control style="    width: 80%;">
                    <input nz-input placeholder="组织名称" [(ngModel)]="newMenu.text" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nzFlex [nzSpan]="23" nz-col>
                <nz-form-label>菜单地址</nz-form-label>
                <nz-form-control style="    width: 80%;">
                    <input nz-input placeholder="组织名称" [(ngModel)]="newMenu.link" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </nz-modal>
</ng-container>