<nz-card>
    <div style="display: flex;justify-content: space-between">
        <nz-form-item nzFlex>
            <nz-form-label>所在公司</nz-form-label>
            <nz-form-control>
                <nz-select style="width: 200px" [(ngModel)]="queryCompany" nzPlaceHolder="选择所在公司" nzAllowClear
                    nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)">
                    <ng-container *ngFor="let o of companyOptionList">
                        <nz-option *ngIf="!isLoading" [nzValue]="o" [nzLabel]="o.name"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                        <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" (click)="search()">查询</button>
    </div>
    <div style="margin-top:20px;margin-bottom:20px;">
        <button nz-button [nzType]="'primary'" (click)="state=View.Create">添加</button>
    </div>
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="orgs">
        <thead>
            <tr>
                <th nzShowCheckbox nzShowRowSelection></th>
                <th>组织名称</th>
                <th>级别</th>
                <th>加入时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td [nzChecked]="data.checked" nzShowCheckbox></td>
                <td [nzIndentSize]="data.level * 20">{{ data.orgName }}</td>
                <td>{{data.level}}</td>
                <td>{{ data.createTime }}</td>
                <td>

                    <i nz-icon nzType="plus" nzTheme="outline" (click)="selectedCompany=data;state=View.Create"></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzTitle="确认删除?" nzOkText="确定" nzCancelText="取消" (nzOnConfirm)="deleteOrg(data)"> <i
                            nz-icon nzType="delete" nzTheme="outline"></i></a>

                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>


<!--  -->
<ng-container>

    <nz-modal [(nzVisible)]="state==View.Create" nzTitle="添加" (nzOnOk)="createOrg()" (nzOnCancel)="state=View.List">
        <nz-form-item nzFlex>
            <nz-form-label>公司名称</nz-form-label>
            <nz-form-control>
                <input nz-input placeholder="组织名称" [(ngModel)]="newOrg.orgName" />
            </nz-form-control>
        </nz-form-item>


    </nz-modal>
</ng-container>