<div style="display:flex;margin-top:40px;padding:20px;">

    <div style="flex-shrink:0;width:400px;margin-right: 20px">
        <dx-data-grid #companyGrid [dataSource]="companyDataSource" (onSelectionChanged)="selectedCompanyChange($event)"
            [keyExpr]="'id'" [remoteOperations]="true" height="600" showBorders="true" #grid>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
            </dxo-editing>
            <dxi-column dataField="name" caption="公司名字"></dxi-column>
        </dx-data-grid>
    </div>
    <div style="width:80%;">
        <dx-tree-list id="orgs" *ngIf="grid.selectedRowKeys.length" [dataSource]="orgDataSource" keyExpr="orgId"
            parentIdExpr="parentId" [columnAutoWidth]="true" [showBorders]="true" height="600">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
            </dxo-editing>
            <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

            <dxi-column dataField="orgName" caption="组织名字"></dxi-column>
            <dxi-column dataField="createTime" [dataType]="'date'" caption="创建时间"></dxi-column>

            <dxi-column dataField="userNum" caption="组织人数"></dxi-column>
            <dxi-column dataField="roleNum" caption="角色数"></dxi-column>
            <dxi-column dataField="companyId" [visible]="false"></dxi-column>
            <dxi-column type="buttons" [width]="210">
                <dxi-button name="edit"></dxi-button>
                <dxi-button name="delete"></dxi-button>
                <dxi-button [text]="'用户'" [visible]="true" [onClick]="userIconClick">
                </dxi-button>
                <dxi-button [text]="'角色'" [visible]="true" [onClick]="roleIconClick">
                </dxi-button>
            </dxi-column>
            <dxo-summary>
                <dxi-total-item column="userNum" summaryType="sum">
                    <!-- <dxo-value-format type="decimal" [precision]="2"></dxo-value-format> -->
                </dxi-total-item>

            </dxo-summary>
        </dx-tree-list>
    </div>
</div>
<div style="padding:20px;">
    <dx-data-grid #userGrid [dataSource]="userDataSource" *ngIf="state==View.SelectUserShow"
        (onSelectionChanged)="selectedCompanyChange($event)" [keyExpr]="'id'" [remoteOperations]="true" height="600"
        showBorders="true" #grid>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
        </dxo-editing>
        <dxi-column dataField="nickname" caption="昵称"></dxi-column>
        <dxi-column dataField="username" caption="登录名"></dxi-column>
        <dxi-column dataField="password" caption="密码"></dxi-column>
        <dxi-column dataField="headimgurl" caption="头像"></dxi-column>
    </dx-data-grid>
</div>
<div style="padding:20px;">
    <dx-data-grid #userGrid [dataSource]="roleDataSource" *ngIf="state==View.SelectRoleShow"
        (onSelectionChanged)="selectedCompanyChange($event)" [keyExpr]="'id'" [remoteOperations]="true" height="600"
        showBorders="true" #grid>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
        </dxo-editing>
        <dxi-column dataField="roleName" caption="角色名"></dxi-column>
        <dxi-column dataField="menuIds" caption="菜单"></dxi-column>
    </dx-data-grid>
</div>